<footer>
    <section class="content">
        <div class="links">
            <div class="col">
                <ul>
                    <li class="main"><a href="">Profil</a></li>
                    <li class="sub"><a href="">Kurzprofil</a></li>
                    <li class="sub"><a href="">UNESCO-Schule</a></li>
                    <li class="sub"><a href="">Geschichte</a></li>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li class="main"><a href="">Service</a></li>
                    <li class="sub"><a href="">Termine</a></li>
                    <li class="sub"><a href="">Mensa</a></li>
                    <li class="sub"><a href="">Digitales Arbeiten</a></li>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li class="main"><a href="">Rechtliches</a></li>
                    <li class="sub"><a href="">Impressum</a></li>
                    <li class="sub"><a href="">Datenschutz</a></li>
                    <li class="sub"><a href="">Cookies</a></li>
                </ul>
            </div>
        </div>

        <div class="contact">
            <div class="contact-icon">
                <img src="/img/icons/icon_polygon.svg" alt="">
            </div>
            
            <div class="contact-links">
                <p>Gertruden-Str. 5; 48147 Münster</p>
                <a href="mailto:schillergymnasium@stadt-muenster.de">schillergymnasium@stadt-muenster.de</a>
                <a href="tel:02516866180">0251 / 686 6180</a>
            </div>
        </div>

        <div class="anmeldung-newsletter">
            <a href="" class="hidden">
                <button>Anmeldung zum Schuljahr 2023/24</button>
            </a>

            <a href="" class="newsletter">
                <form action="">
                    <input type="email" name="" id="" placeholder='Beim Newsletter "Einhorn" anmelden'>
                    <button type="submit">Anmelden</button>
                </form>
            </a>
        </div>
    </section>

    <section class="cc">
        <center><p>© Schillergymnasium 2023</p></center>
    </section>
</footer>