<footer>
    <section class="content">
        <div class="icon-links">
            <div class="icon">
                 <img src="/img/icons/icon_polygon.svg" alt="">
            </div>

            <div class="links">
                <ul>
                    <li><a href="">Impressum</a></li>
                    <li><a href="">Datenschutz</a></li>
                    <li><a href="">AGB</a></li>
                    <li><a href="">Kontakt</a></li>
                </ul>
            </div>
        </div>
        
        <div class="contact">
            <div class="contact-links">
                <p>Gertrudenstr. 5 <br> 48147 Münster</p>
                <a href="mailto:schillergymnasium@stadt-muenster.de">schillergymnasium@stadt-muenster.de</a>
                <a href="tel:02516866180">0251 / 686 6180</a>
            </div>
        </div>
    </section>

    <section class="cc">
        <center><p>© Schillergymnasium 2023</p></center>
    </section>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script src="/scripts/nav.js"></script>