<footer>
    <section class="content">
        <div class="icon-links">
            <div class="icon">
                 <img src="/img/icons/icon_polygon.svg" alt="">
            </div>

            <div class="links">
                <ul>
                    <li><a href="/impressum">Impressum</a></li>
                    <li><a href="/datenschutz">Datenschutz</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                </ul>
            </div>
        </div>
        
        <div class="contact">
            <div class="contact-links">
                <p>Gertrudenstr. 5 <br> 48149 Münster</p>
                <a href="mailto:schillergymnasium@stadt-muenster.de">schillergymnasium@stadt-muenster.de</a>
                <a href="tel:02516866180">0251 / 686 6180</a>
            </div>
        </div>
    </section>

    <section class="cc">
        <p>© Schillergymnasium 2024</p>
        <p class="mi_footer"><a href="https://de.maple-ink.com" target="_blank">Erstellt von Maple Ink <img src="/img/icons/mi_yellow.png" alt=""></a></p>
    </section>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script src="/scripts/nav.js"></script>