---
layout: base.njk
---
{% for fach in collections.faecher %}
    {% if fach.data.title == title %}
        <input type="hidden" name="url" id="url" value="{{ fach.url }}">
    {% endif %}
{% endfor %}
<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Das Fach</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>{{ title }}</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        {% for fach in collections.faecher %}
            {% if fach.data.title == title %}
                {% for banner in fach.data.banners %}
                    <img class="background" src="{{ banner.banner }}" alt="" style="object-position: {{ banner.alignment }};">
                {% endfor %}
            {% endif %}
        {% endfor %}

        <script src="/scripts/banner.js"></script>
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="contents page-content">
    <div class="content fach-beschreibung">
        <center><div class="title">
            <h4>{{ title }}</h4>
            <h2>{{ title }} am Schiller</h2>
        </div></center>
        {{ content | safe }}
    </div>

    <div class="content ">
        <center><div class="title">
            <h2>Die Fachschaft</h2>
        </div></center>
        <div class="gallary fachschaft-gallery">
            {% for fach in collections.faecher %}
                {% if fach.data.title == title %}
                    {% for fachschaftImage in fach.data.fachschaftGallery %}
                        <img class="fachschaftImage" src="{{ fachschaftImage.fachschaftImage }}" alt="">
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <p class="teachers">{{ teachers }}</p>
        <script src="/scripts/fächer.js"></script>
    </div>

    {% for fach in collections.faecher %}
        {% if fach.data.title == title %}
            {% if fach.data.contentBlocks %}
                    <div class="content">
                        <center><div class="title">
                            <h4>More</h4>
                            <h2>Weiteres zu {{ title }}</h2>
                        </div></center>

                        {% for fach in collections.faecher %}
                            {% if fach.data.title == title %}
                                {% for contentBlock in fach.data.contentBlocks %}
                                    {% if contentBlock.type == 'textBlock' %}
                                        <p>{{ contentBlock.text }}</p>
                                    {% elif contentBlock.type == 'gallery' %}
                                        <div class="gallery">
                                        <img src="{{ contentBlock.image }}" alt="">
                                        </div>
                                    {% elif contentBlock.type == 'videoBlock' %}
                                        {% if contentBlock.video.platform == 'YouTube' %}
                                            <center><iframe class="video" src="{{ contentBlock.video.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
                                        {% endif %}
                                    {% elif contentBlock.type == 'title' %}
                                        <p>{{ contentBlock.titleElement }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        
                    </div>
            {% endif %}
        {%endif%}
    {% endfor %}
</section>



