---
layout: base.njk
---
<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Das Fach</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>{{ title }}</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/kunst.png" alt=""> 
    </div>

    <div class="lower-hero">
        <ul>
            <li><a href="">Termine</a></li>
            <li><a href="">Anmelden</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </div>
</section>

<section class="contents">
    <div class="content fach-beschreibung">
        <center><div class="title">
            {# <h4>Art</h4> #}
            <h2>{{ title }} am Schiller</h2>
        </div></center>
        <p>{{ fachText | safe}}</p>
    </div>

    <div class="content">
        <center><div class="title">
            {# <h4>Art</h4> #}
            <h2>Von der Fachschaft</h2>
        </div></center>
        <p>{{ fachschaftText | safe}}</p>
        <div class="gallary">
            {% for galleryImage in collections.faecher.fachschaftGallery %}
                <img src="{{ gallaryImage.image }}" alt="">
            {% endfor %}
        </div>
    </div>

    <div class="content">
        <center><div class="title">
            {# <h4>Art</h4> #}
            <h2>Schüler:innen über {{ title }}</h2>
        </div></center>
        <div class="aussagen">
            {% for studentReview in collections.faecher.studentReviews %}
                <div class="aussage">
                    <p>{{ studentReview.review }}</p>
                    <p class="name">- {{ studentReview.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>