<header>
    <nav class="desktop-nav">
        <ul class="nav-links">
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Profil</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Kurzprofil</a>
                        <a href="">Theater</a>
                        <a href="">UNESCO-Schule</a>
                        <a href="">Digitales Lernen</a>
                        <a href="">Geschichte</a>
                    </div>
                </div>
            </div>

            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Personen</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Schulleitung u. Koordination</a>
                        <a href="">Kollegium</a>
                        <a href="">Schulbegleitung</a>
                        <a href="">Mitarbeiter</a>
                        <a href="">Schulsozialarbeit/MPT</a>
                        <a href="">Beratungslehrer/Seelsorge</a>
                        <a href="">Schülervertretung</a>
                        <a href="">Ehemalige</a>
                        <a href="">Förderverein</a>
                        <a href="">AG-Leitungen</a>
                    </div>
                </div>
            </div>

            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Fächer</button>

                <div class="dropdown-menu information-grid">
                    <div>
                        <div class="dropdown-heading">Naturwissenschaften</div>
                        <div class="dropdown-links">
                            <a href="">Biologie</a>
                            <a href="">Chemie</a>
                            <a href="">Physik</a>
                            <a href="">Mathe</a>
                            <a href="">Informatik</a>
                        </div>
                    </div>

                    <div>
                        <div class="dropdown-heading">Sprachen</div>
                        <div class="dropdown-links">
                            <a href="">Deutsch</a>
                            <a href="">Englisch</a>
                            <a href="">Französisch</a>
                            <a href="">Italienisch</a>
                            <a href="">Latein</a>
                            <a href="">Niederländisch</a>
                            <a href="">Griechisch</a>
                        </div>
                    </div>

                    <div>
                        <div class="dropdown-heading">Gesellschaftswissenschaften</div>
                        <div class="dropdown-links">
                            <a href="">Geschichte</a>
                            <a href="/_pages/fächer/erdkunde/">Erdkunde</a>
                            <a href="">SoWi/Politik</a>
                            <a href="">Philosophie</a>
                            <a href="">Religion</a>
                        </div>
                    </div>

                    <div>
                        <div class="dropdown-heading">Weitere</div>
                        <div class="dropdown-links">
                            <a href="">Kunst</a>
                            <a href="">Musik</a>
                            <a href="">Sport</a>
                            <a href="">Darstellen u. Gestalten</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>

        <ul class="icons">
            <li>
                <a href=""><img class="unesco" src="/img/icons/unesco.svg" alt=""></a>
            </li>
            <li>
                <a href="/index.html"><img class="icon" src="/img/icons/icon.svg" alt=""></a>
            </li>
        </ul>

        <ul class="nav-links">
            <div class="dropdown right" data-dropdown >
                <button class="link" data-dropdown-button>Lernen</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Erprobungs-, Mittel- und Oberstufe</a>
                        <a href="">Sprachen</a>
                        <a href="">Gemeinsames Lernen</a>
                        <a href="">Fördern und Fordern</a>
                        <a href="">Unterrichtszeiten</a>
                    </div>
                </div>
            </div>

            <div class="dropdown right" data-dropdown>
                <button class="link" data-dropdown-button>Schulleben</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Offener Ganztag</a>
                        <a href="">Arbeitsgemeinschafen</a>
                        <a href="">Fahrten und Austauschprogramme</a>
                        <a href="">Beratung</a>
                        <a href="">Prävention</a>
                        <a href="">Schulsanitätsdienst</a>
                        <a href="">Medienscouts</a>
                    </div>
                </div>
            </div>
            
            <div class="dropdown right" data-dropdown>
                <button class="link" data-dropdown-button>Service</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Anmeldung zum neuen Schuljahr</a>
                        <a href="">Mensa / Kiosk</a>
                        <a href="">Digitale Werkzeuge</a>
                        <a href="">Formulare</a>
                        <a href="">Termine</a>
                        <a href="">Kontakt</a>
                        <a href="">Newsletter "Einhorn"</a>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <nav class="mobile-nav">
        <div class="mb-header-elements">
            <div class="icons">
                <a href=""><img class="unesco" src="/img/icons/unesco.svg" alt=""></a>
                <a href="/index.html"><img class="icon" src="/img/icons/icon.svg" alt=""></a>
            </div>

            <a href="#" class="toggle-button">
                <i class='bx bx-menu-alt-right' ></i>
            </a>
        </div>

        <ul class="mobile-links">
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Profil</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Kurzprofil</a>
                        <a href="">Theater</a>
                        <a href="">UNESCO-Schule</a>
                        <a href="">Digitales Lernen</a>
                        <a href="">Geschichte</a>
                    </div>
                </div>
            </div>

            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Personen</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Schulleitung u. Koordination</a>
                        <a href="">Kollegium</a>
                        <a href="">Schulbegleitung</a>
                        <a href="">Mitarbeiter</a>
                        <a href="">Schulsozialarbeit/MPT</a>
                        <a href="">Beratungslehrer/Seelsorge</a>
                        <a href="">Schülervertretung</a>
                        <a href="">Ehemalige</a>
                        <a href="">Förderverein</a>
                        <a href="">AG-Leitungen</a>
                    </div>
                </div>
            </div>

            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Fächer</button>

                <div class="dropdown-menu information-grid">
                    <div class="information-box">
                        <div class="dropdown-heading">Naturwissenschaften</div>
                        <div class="dropdown-links">
                            <a href="">Biologie</a>
                            <a href="">Chemie</a>
                            <a href="">Physik</a>
                            <a href="">Mathe</a>
                            <a href="">Informatik</a>
                        </div>
                    </div>

                    <div>
                        <div class="dropdown-heading">Sprachen</div>
                        <div class="dropdown-links">
                            <a href="">Deutsch</a>
                            <a href="">Englisch</a>
                            <a href="">Französisch</a>
                            <a href="">Italienisch</a>
                            <a href="">Latein</a>
                            <a href="">Niederländisch</a>
                            <a href="">Griechisch</a>
                        </div>
                    </div>

                    <div>
                        <div class="dropdown-heading">Gesellschaftswissenschaften</div>
                        <div class="dropdown-links">
                            <a href="">Geschichte</a>
                            <a href="">Erdkunde</a>
                            <a href="">SoWi/Politik</a>
                            <a href="">Philosophie</a>
                            <a href="">Religion</a>
                        </div>
                    </div>

                    <div>
                        <div class="dropdown-heading">Weitere</div>
                        <div class="dropdown-links">
                            <a href="">Kunst</a>
                            <a href="">Musik</a>
                            <a href="">Sport</a>
                            <a href="">Darstellen u. Gestalten</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Lernen</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Erprobungs-, Mittel- und Oberstufe</a>
                        <a href="">Sprachen</a>
                        <a href="">Gemeinsames Lernen</a>
                        <a href="">Fördern und Fordern</a>
                        <a href="">Unterrichtszeiten</a>
                    </div>
                </div>
            </div>

            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Schulleben</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Offener Ganztag</a>
                        <a href="">Arbeitsgemeinschafen</a>
                        <a href="">Fahrten und Austauschprogramme</a>
                        <a href="">Beratung</a>
                        <a href="">Prävention</a>
                        <a href="">Schulsanitätsdienst</a>
                        <a href="">Medienscouts</a>
                    </div>
                </div>
            </div>
            
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Service</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Anmeldung zum neuen Schuljahr</a>
                        <a href="">Mensa / Kiosk</a>
                        <a href="">Digitale Werkzeuge</a>
                        <a href="">Formulare</a>
                        <a href="">Termine</a>
                        <a href="">Kontakt</a>
                        <a href="">Newsletter "Einhorn"</a>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <script src="/scripts/nav.js"></script>
</header>

<div class="cookie-banner">
    <div class="cookie-inside">
        <div class="cookie-text">
            <p>Wir verwenden Cookies, um den bestmöglichen Service zu gewährleisten. Dafür benötigen wir Ihre Zustimmung. Weitere Informationen dazu finden Sie in unserer <a href="/data-protection">Datenschutzerklärung</a>.</p>
        </div>
        <div class="cookie-buttons">
            <button class="cookie-button cookie-accept"><i class="bx bx-cookie"></i> Cookies akzeptieren</button>
            <button class="cookie-button cookie-close"><i class="bx bx-x"></i></button>
        </div>
    </div>

    <script src="/scripts/cookies.js"></script>
</div>