<div class="lower-hero">
    <ul>
        <li><a href="">Termine</a></li>
        {% if settings.anmeldephase %}
            <li class="anmeldung"><a href="">Anmeldung Schuljahr 2024/25</a></li>
        {% endif %}
        <li><a href="">Kontakt</a></li>
    </ul>

    <div class="buttons">
        <a href=""><i class='bx bx-calendar' ></i></a>
        {% if settings.anmeldephase %}
            <a href=""><i class='bx bx-check-square'></i></a>
        {% endif %}
        <a href=""><i class='bx bx-phone-call' ></i></a>
    </div>
</div>