<div class="lower-hero">
    <ul>
        <li><a href="">Termine</a></li>
        {% if settings.anmeldung.anmeldephase %}
            <li class="anmeldung"><a href="">Anmeldung Schuljahr {{ settings.anmeldung.schuljahr }}</a></li>
        {% endif %}
        <li><a href="">Kontakt</a></li>
    </ul>

    <div class="buttons">
        <a href=""><i class='bx bx-calendar tooltip' ><span class="tooltiptext">Termine</span></i></a>
        {% if settings.anmeldung.anmeldephase %}
            <a href="" class="anmeldung"><i class='bx bx-check-square tooltip'><span class="tooltiptext">Anmeldung zum Schuljahr {{ settings.anmeldung.schuljahr }}</span></i></a>
        {% endif %}
        <a href=""><i class='bx bx-phone-call tooltip' ><span class="tooltiptext">Kontakt</span></i></a>
    </div>
</div>