---
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Kategorie</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>{{ title }}</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="{{ banner }}" alt=""> 
    </div>

    <div class="lower-hero">
        <ul>
            <li><a href="">Termine</a></li>
            <li><a href="">Anmelden</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </div>
</section>

<section class="contents">
    <div class="content">
        {% for page in collections.page %}
            {% if page.data.title == title %}
                {% for contentBlock in page.data.contentBlocks %}
                    {% if contentBlock.type == 'textBlock' %}
                        <p>{{ contentBlock.text }}</p>
                    {% elif contentBlock.type == 'gallery' %}
                        <div class="gallery">
                        <img src="{{ contentBlock.image }}" alt="">
                        </div>
                    {% elif contentBlock.type == 'videoBlock' %}
                        {% if contentBlock.video.platform == 'YouTube' %}
                            <iframe width="560" height="315" src="{{ contentBlock.video.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        {% endif %}
                    {% elif contentBlock.type == 'title' %}
                        <p>{{ contentBlock.titleElement }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</section>