---
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Kategorie</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            {% if shortTitle %}
                <h1>{{ shortTitle }}</h1>
            {% else %}
                <h1>{{ title }}</h1>
            {% endif %}
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="{{ banner }}" alt=""> 
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="contents">
    <div class="content">
        {{ content | safe}}
    </div>
</section>