---
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>{{ category }}</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            {% if shortTitle %}
                <h1>{{ shortTitle }}</h1>
            {% else %}
                <h1>{{ title }}</h1>
            {% endif %}
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        {% for page in collections.page %}
            {% if page.data.title == title %}
                {% for banner in page.data.banners %}
                    <img class="background" src="{{ banner.banner }}" alt="" style="object-position: {{ banner.alignment }};">
                {% endfor %}
            {% endif %}
        {% endfor %}

        <script src="/scripts/banner.js"></script>
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="contents">
    <div class="content page-content">
        {{ content | safe}}
    </div>
</section>