DirectoryIndex index.html

Header set X-Robots-Tag "noindex, nofollow, noarchive"

FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>

<ifmodule mod_expires.c>
<Filesmatch "\.(jpg|jpeg|png|gif|js|css|htm|html)$">
    ExpiresActive on
    ExpiresDefault "access"
</Filesmatch>
</ifmodule>

# Passwortschutz
AuthType Basic
AuthName "Schiller: Foyer-Vertretunsplan"
AuthUserFile /is/htdocs/wp12599526_UWBR3PUPTC/www/untis/r8asofijh/vvzp97zw4b/.htusers
Require user schillerfoyer
