html, body {
	height:100%;
	margin:0;
	padding:0;
	border:0;
}

#screen_with_two_columns {
	display:flex;
	height:100%;
	margin:0;
	padding:0;
	border:0;
}

.column_vertretung {
	flex:50%;
	height:100%;
	margin:0;
	padding:0;
	border:0;
}