html {
font-family:sans-serif;
color:#444;
}

#logo a {
text-decoration: none;
color:inherit;
}

h1#logo {
color:#9b9;
}

/* button {
background:#8c8;
border-radius:4px;
padding:4px;
color:#fff;
} */

div.rahmen {
/* border:1px dotted #aaa; */
/* border:1px solid #eee;
border-radius:5px;
margin:20px;
padding:20px;
box-shadow: 3px 3px 4px #ccc; */
background-color: #fff;
margin: 0px 4px 14px 4px;
box-shadow: 0 1px 6px rgba(33, 33, 33, 0.28);
border-radius: 8px;
padding: 16px;
}
div.rahmen div, div.rahmen textarea, div.rahmen select, div.rahmen input , div.rahmen label{
display:inline-block;
}
input[type="number"], input[type="text"], input[type="password"], select, textarea {
border-radius:5px;
border:1px solid #aaa;
}
/* input[type="radio"] { // funktioniert nicht, sieht dann in Safari ganz anders aus als Standard, daher lieber oben statt global "input" die einzelnen types auﬂer radio auflisten
border-radius:inherit;
border:inherit;
} */
div.rahmen div#klassenleitung {
display:none;
}
textarea.bemerkung {
width:70en;
height:1em;
}
.andereeingabe {
width:100%; }
textarea.andereeingabe {
height:4em;
}
.nicht {
width:60%; }
textarea.nicht {
height:1em;
}

textarea#kommentarfeld {
width:100%; /* calc(100% - 100px); */
height:6em;
}
.readonly {
background:#eee;
border-radius:5px;
padding:4px;
margin:4px;
}
a.img {
border:0;
text-decoration:0;
}

img.toggle {
border:0;
height:40px;
width:62px;
vertical-align:middle;
}