---
title: Aktuelles
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>seit 1900</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Aktuelles</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="/img/background-images/htrackt.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="aktuelles-page">
    <nav class="sidebar">
        <div class="kategorien">
            <h3>Kategorien</h3>
            <ul>
                <li><a href="">Allgemeines</a></li>
                <li><a href="">AGs</a></li>
                <li><a href="">Austausche</a></li>
                <li><a href="">Wettbewerbe</a></li>
                <li><a href="">Am Schiller</a></li>
            </ul>
        </div>

        <div class="archive">
            <h3>Archive</h3>
            <ul>
                <li><a href="">2023 (13)</a></li>
                <li><a href="">2022 (38)</a></li>
                <li><a href="">2021 (24)</a></li>
                <li><a href="">2020 (17)</a></li>
                <li><a href="">2019 (43)</a></li>
                <li><a href="">2018 (30)</a></li>
                <li><a href="">2017 (35)</a></li>
            </ul>
        </div>
    </nav>

    <div class="posts">
        {%- for post in collections.post | reverse -%}
            <div class="snippet">
                <img src="{{ post.data.banner }}" alt="" class="snippet__image">
                <div class="snippet__content">
                    <a href="{{ post.url }}"><h2 class="snippet__title">{{ post.data.title }}</h2></a>
                    <p class="snippet__info">{{ post.data.date | postDate }} &#8226; {{ post.data.author }}</p>
                    <p class="snippet__description">{{ post.data.description }}</p>
                </div>
            </div>
        {%- endfor -%}
    </div>
</section>