---
title: Archiv
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Aktuelles</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Archiv</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>des Schillergymnasiums</h2>
            <hr>
        </div>

        <img class="background" src="/img/background-images/htrackt.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="aktuelles-page archive-page">
    <div class="posts">
        <div class="post-nav">
            <div class="dropdown years" data-dropdown>
                <button class="link" data-dropdown-button>Jahr</button>
                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">2023</a> 
                        <a href="">2022</a> 
                        <a href="">2021</a> 
                    </div>
                </div>
            </div>

            <div class="dropdown months" data-dropdown>
                <button class="link" data-dropdown-button>Monat</button>
                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">Januar</a> 
                        <a href="">Februar</a> 
                        <a href="">März</a> 
                        <a href="">April</a> 
                        <a href="">Mai</a> 
                        <a href="">Juni</a> 
                        <a href="">Juli</a> 
                        <a href="">August</a> 
                        <a href="">September</a> 
                        <a href="">Oktober</a> 
                        <a href="">November</a> 
                        <a href="">Dezember</a> 
                    </div>
                </div>
            </div>

            <script src="/scripts/nav.js"></script>
        </div>
        {%- for post in collections.post | reverse -%}
            <div class="snippet">
                <img src="{{ post.data.banner }}" alt="" class="snippet__image">
                <div class="snippet__content">
                    <a href="{{ post.url }}"><h2 class="snippet__title">{{ post.data.title }}</h2></a>
                    <p class="snippet__info">{{ post.data.date | postDate }} &#8226; {{ post.data.author }}</p>
                    <p class="snippet__description">{{ post.data.description }}</p>
                </div>
            </div>
        {%- endfor -%}
    </div> 
</section>