---
title: Archiv
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Aktuelles</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Archiv</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>des Schillergymnasiums</h2>
            <hr>
        </div>

        <img class="background" src="/img/background-images/htrackt.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="aktuelles-page archive-page">
    <div class="posts">
        <div class="post-nav">
            <select name="archive-year" id="archiveYear">
                <option value="Jahr" selected readonly>Jahr</option>
                <option value="2017">2017</option>
                <option value="2017">2018</option>
                <option value="2017">2019</option>
                <option value="2017">2020</option>
                <option value="2017">2021</option>
                <option value="2017">2022</option>
                <option value="2017">2023</option>


            </select>

            <select name="archive-year" id="archiveMonth">
                <option value="Monat" selected readonly>Monat</option>
                <option value="Jan">Januar</option>
                <option value="Feb">Februar</option>
                <option value="Mar">März</option>
                <option value="Apr">April</option>
                <option value="May">Mai</option>
                <option value="Jun">Juni</option>
                <option value="Jul">Juli</option>
                <option value="Aug">August</option>
                <option value="Sep">September</option>
                <option value="Oct">Oktober</option>
                <option value="Nov">November</option>
                <option value="Dec">Dezember</option>
            </select>
        </div>

        {%- for post in collections.post | reverse -%}
            <div class="snippet">
                <img src="{{ post.data.banner }}" alt="" class="snippet__image">
                <div class="snippet__content">
                    <a href="{{ post.url }}"><h2 class="snippet__title">{{ post.data.title }}</h2></a>
                    <p class="snippet__info">{{ post.data.date | postDate }} &#8226; {{ post.data.author }}</p>
                    <p class="snippet__description">{{ post.data.description }}</p>
                </div>
            </div>
        {%- endfor -%}
    </div> 
</section>