---
title: Datenschutz
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Rechtlich</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Impressum</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>des Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}

    
</section>

<section class="contents">
    <div class="content page-content">
        <center><div class="title">
            <h4>Impressum</h4>
            <h2>Unser Impressum</h2>
        </div></center>

        <div class="datenschutz-container">
            <div class="sidebar">
                <div class="menu">
                    <a href="/impressum">Impressum</a>
                    <a href="/datenschutz">Datenschutz</a>
                </div>

                <div class="sidebar-imprint">
                    <div>
                        <h3><strong>Impressum</strong></h3>                        
                        <p><strong>Schillergymnasium Münster</strong></p>
                        <p>Andreas Nowak<br>Gertrudenstr. 5<br>48149 Münster</p>
                        <br>
                        <p><strong>E-Mail: </strong><a href="mailto:schillergymnasium@stadt-muenster.de">schillergymnasium@stadt-muenster.de</a></p>
                        <p><strong>Telefon: </strong><a href="tel:0251 / 6866 180"></a>0251 / 6866 180</p>
                        <p><strong>Telefax: </strong><a href="fax:0251 / 6866 1849"></a>0251 / 6866 1849</p>
                    </div>

                    <div>
                        <h3><strong>Design & Umsetzung</strong></h3>
                        <div class="webdesigner">
                            <p><strong>Emil Becher | Maple Ink</strong></p>
                            <p><small>Design &#8226; Branding &#8226; Social Media</small></p>
                        </div>
                        <p><strong>Telefon: </strong><a href="tel:0152 / 513 69 734">0152 / 513 69 734</a></p>
                        <p><strong>E-Mail: </strong><a href="mailto:emil@maple-ink.com">emil@maple-ink.com</a></p>
                        <p><strong>Web: </strong><a href="https://de.maple-ink.com">www.de.maple-ink.com</a></p>
                    </div>
                </div>
            </div>

            <div class="datenschutz">
                <h2>Haftungsausschluss</h2>
                <h3><strong>Inhalt der Seite</strong></h3>
                <p>Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen. Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>

                <h3><strong>Verweise und Links</strong></h3>
                <p>Bei direkten oder indirekten Verweisen auf fremde Internetseiten („Links“), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.</p>
                <p>Der Autor erklärt daher ausdrücklich, dass zum Zeitpunkt der Linksetzung die entsprechenden verlinkten Seiten frei von illegalen Inhalten waren. Der Autor hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der gelinkten/verknüpften Seiten. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten.</p>
                <p>Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>
                
                <h3><strong>Urheber- und Kennzeichenrecht</strong></h3>
                <p>Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer.</p>
                <p>Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.</p>

                <h3><strong>Rechtswirksamkeit dieses Haftungsausschlusses</strong></h3>
                <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
            </div>
        </div>
    </div>
</section>