---
title: Schillergymnasium in Münster
layout: base.njk
seoKeywords: Schillergymnasium Münster, Gymnasium in Münster, Bildung in Münster, Schule in NRW, Schulangebot Münster, Münster Schulen, Schüleraustausch Programme, Unterrichtsangebot Gymnasium, Schulleben Schillergymnasium, Lehrkörper Münster, Abiturvorbereitung Gymnasium, Münster Schulkalender, Schüleraktivitäten Münster, Eltern-Information Schule, Schule mit Profil Münster, Lehrpläne Gymnasium, Schulleitung Schillergymnasium, Ganztagsangebot Schule, Studien- und Berufsorientierung, Schülerförderung Münster, Schiller-News, Schulkontakt Münster, Digitalisierung in der Schule, Schillergymnasium Schulprojekte, Schule und Gemeinschaft Münster
seoDescription: Willkommen am Schillergymnasium Münster. Entdecken Sie unser humanistisches Leitbild und vielfältige Bildungsangebote. Erleben Sie Gemeinschaft und Engagement. Besuchen Sie uns heute!
seoImage: /img/banners/main.png
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>seit 1900</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Schillergymnasium</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>im Kreuzviertel Münster</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="aktuelles-termine">
    <div class="aktuelles">
        <center><a href="aktuelles"><h2>Aktuelles</h2></a></center>
        <div class="scroll-group">
            <i class='bx bx-chevron-left btn-left'></i>
            <div class="scroll">
                {% for post in collections.post | reverse %}
                    <div class="snippet scroll-item">
                        <a href="{{ post.url }}"><img class="snippet_image" src="{{ post.data.banner }}" alt=""></a>
                        <a href="{{ post.url }}"><h3 class="snippet_title">{{ post.data.title }}</h3></a>
                        <p class="snippet_description">{{ post.data.description }}</p>
                    </div>
                {% endfor %}
            </div>
            <i class='bx bx-chevron-right btn-right' ></i>
        </div>
    </div>

    <div class="termine">
        <center><a href="/termine"><h2>Termine</h2></a></center>
        <div class="scroll-group">
            <i class='bx bx-chevron-left btn-left'></i>
            <div class="scroll termin-scroll">
                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">11.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>3. bis 6. Stunde: Studienbörse für die gesamte Q1</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">11.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Klasse 6b = Medienerziehung (Outlaw), ganztägig</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">12.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Infoveranstaltung für die neuen 5er um 19:30 Uhr</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">13.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Tag der offenen Tür, 10:00 - 12:00 Uhr</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">16.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Klasse 6c = Medienerziehung (Outlaw), ganztägig</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">17.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Sprechzeiten der Studien- + Berufsberatung, Dipl.-Päd. Barbara Reher, 08:45 - 12:15 Uhr, G.211 BOB (Anmeldung im Sekretariat)</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">18.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Klasse 6d = Medienerziehung (Outlaw), ganztägig</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">18.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>UNICEF-Konzert um 18:00 Uhr, Aula</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">22.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Praktikum Jahrgangsstufe 9 = 22.01. - 02.02.2024</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">23.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Schüleraustausch Deutschland/Namibia in Windhoek, Namibia</h3>
                </div>


                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">23.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Infoabend neue 5er um 18:00 Uhr (Zusatztermin), Aula</h3>
                </div>


                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">26.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Schulbewerbung (vormals: Schüler Online) = Bewerbungsfenster: 26.01. - 18.02.2024 für Sek II für Bewerbungszeitfenster SJ 2024/25</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">26.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Filmabend für Jg. 7 - Q2: American movie night 18:00 - 24:00 Uhr, Aula => "Forrest Gump” + “Ocean’s Eleven”</h3>
                </div>


                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">26.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Jugend debattiert (Finale) 1. - 3. Std., Aula</h3>
                </div>


                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">26.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Zeugnisausgabe 5 - Q1 in der 4. Stunde (10:30 - 11:15 Uhr)</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">27.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>Internationaler Tag des Gedenkens an die Opfer des Holocaust</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">29.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>2. Pädagogischer Tag der Lehrkräfte (unterrichtsfrei)</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">30.</p>
                        <p>01. 23</p>
                    </div>
                    <h3>2. Treffen: Schuljubiläum E/ SuS/ KuK, 15:30 Uhr, H.K03</h3>
                </div>
            </div>
            <i class='bx bx-chevron-right btn-right' ></i>
        </div>
    </div>

    <script src="https://unpkg.com/ical.js"></script>

    <script src="/scripts/termine.js"></script>

    <style>
        .aktuelles-termine .termine {
            background: url({{ home.termineBackground }});
            background-size: cover;
            background-position: center;
        }

        .aktuelles-termine .aktuelles {
                background: url({{ home.aktuellesBackground }});
                background-size: cover;
                background-position: top center;
        }
    </style>

    <script src="scripts/scroll_click.js"></script>
</section>