---
title: Schillergymnasium in Münster
layout: base.njk
seoKeywords: Schillergymnasium Münster, Gymnasium in Münster, Bildung in Münster, Schule in NRW, Schulangebot Münster, Münster Schulen, Schüleraustausch Programme, Unterrichtsangebot Gymnasium, Schulleben Schillergymnasium, Lehrkörper Münster, Abiturvorbereitung Gymnasium, Münster Schulkalender, Schüleraktivitäten Münster, Eltern-Information Schule, Schule mit Profil Münster, Lehrpläne Gymnasium, Schulleitung Schillergymnasium, Ganztagsangebot Schule, Studien- und Berufsorientierung, Schülerförderung Münster, Schiller-News, Schulkontakt Münster, Digitalisierung in der Schule, Schillergymnasium Schulprojekte, Schule und Gemeinschaft Münster
seoDescription: Willkommen am Schillergymnasium Münster. Entdecken Sie unser humanistisches Leitbild und vielfältige Bildungsangebote. Erleben Sie Gemeinschaft und Engagement. Besuchen Sie uns heute!
seoImage: /img/banners/main.png
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>seit 1900</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Schillergymnasium</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>im Kreuzviertel Münster</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="aktuelles-termine">
    <div class="aktuelles">
        <center><a href="aktuelles"><h2>Aktuelles</h2></a></center>
        <div class="scroll-group">
            <i class='bx bx-chevron-left btn-left'></i>
            <div class="scroll">
                {% for post in collections.post | reverse %}
                    <div class="snippet scroll-item">
                        <a href="{{ post.url }}"><img class="snippet_image" src="{{ post.data.banner }}" alt=""></a>
                        <a href="{{ post.url }}"><h3 class="snippet_title">{{ post.data.title }}</h3></a>
                        <p class="snippet_description">{{ post.data.description }}</p>
                    </div>
                {% endfor %}
            </div>
            <i class='bx bx-chevron-right btn-right' ></i>
        </div>
    </div>

    <div class="termine">
        <center><a href="/termine"><h2>Termine</h2></a></center>
        <div class="scroll-group">
            <i class='bx bx-chevron-left btn-left'></i>
            <div class="scroll termin-scroll">
                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">04.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Schüleraustausch Deutschland/Namibia in Windhoek, Namibia</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">04.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Schulbewerbung (vormals: Schüler Online) = Bewerbungsfenster: 26.01. - 18.02.2024 für Sek II für Bewerbungszeitfenster SJ 2024/25</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">05.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Information Oberstufe für Kl. 10 um 18:00 Uhr, Aula</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">06.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>UNESCO-Rat 3. Sitzung, 1. - 6. Std.</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">07.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>BER, AC, HIM, ME -> Musikfahrt, Jugendherberge Nottuln 07.-09.02.2024</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">12.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Rosenmontag (beweglicher Ferientag am 12.02.2024 = unterrichtsfrei)</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">13.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Veilchendienstag (beweglicher Ferientag nach Rosenmontag am 13.02.2024 = unterrichtsfrei)</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">14.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Sprechzeiten der Studien- + Berufsberatung, Frau Isabel Vogel 09:15 - 13:00 Uhr, G.211 BOB (Anmeldung im Sekretariat, Schublade orange)</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">19.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Anmeldetermine zur Klasse 5 im SJ 2024/2025 = 19.02. - 22.02.2022 => Mo. - Mi.: 09:00 - 12:00 Uhr sowie 15:00 - 18:00 Uhr; Do. 09:00 - 12:00 Uhr (Online-Terminvereinbarung ü</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">22.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Lernstandserhebung 22.02. - 14.03.2024</h3>
                </div>


                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">28.</p>
                        <p>02. 24</p>
                    </div>
                    <h3>Sprechzeiten der Studien- + Berufsberatung, Frau Isabel Vogel 09:15 - 13:00 Uhr, G.211 BOB (Anmeldung im Sekretariat, Schublade orange)</h3>
                </div>
            </div>
            <i class='bx bx-chevron-right btn-right' ></i>
        </div>
    </div>

    <script src="https://unpkg.com/ical.js"></script>

    <script src="/scripts/termine.js"></script>

    <style>
        .aktuelles-termine .termine {
            background: url({{ home.termineBackground }});
            background-size: cover;
            background-position: center;
        }

        .aktuelles-termine .aktuelles {
                background: url({{ home.aktuellesBackground }});
                background-size: cover;
                background-position: top center;
        }
    </style>

    <script src="scripts/scroll_click.js"></script>
</section>

