---
title: Schillergymnasium in Münster
layout: base.njk
seoKeywords: Schillergymnasium Münster, Gymnasium in Münster, Bildung in Münster, Schule in NRW, Schulangebot Münster, Münster Schulen, Schüleraustausch Programme, Unterrichtsangebot Gymnasium, Schulleben Schillergymnasium, Lehrkörper Münster, Abiturvorbereitung Gymnasium, Münster Schulkalender, Schüleraktivitäten Münster, Eltern-Information Schule, Schule mit Profil Münster, Lehrpläne Gymnasium, Schulleitung Schillergymnasium, Ganztagsangebot Schule, Studien- und Berufsorientierung, Schülerförderung Münster, Schiller-News, Schulkontakt Münster, Digitalisierung in der Schule, Schillergymnasium Schulprojekte, Schule und Gemeinschaft Münster
seoDescription: Willkommen am Schillergymnasium Münster. Entdecken Sie unser humanistisches Leitbild und vielfältige Bildungsangebote. Erleben Sie Gemeinschaft und Engagement. Besuchen Sie uns heute!
seoImage: /img/banners/main.png
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>seit 1900</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Schillergymnasium</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>im Kreuzviertel Münster</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="aktuelles-termine">
    <div class="aktuelles">
        <center><a href="aktuelles"><h2>Aktuelles</h2></a></center>
        <div class="scroll-group">
            <i class='bx bx-chevron-left btn-left'></i>
            <div class="scroll">
                {% for post in collections.post | reverse %}
                    <div class="snippet scroll-item">
                        <img class="snippet_image" src="{{ post.data.banner }}" alt="">
                        <a href="{{ post.url }}"><h3 class="snippet_title">{{ post.data.title }}</h3></a>
                        <p class="snippet_description">{{ post.data.description }}</p>
                    </div>
                {% endfor %}
            </div>
            <i class='bx bx-chevron-right btn-right' ></i>
        </div>
    </div>

    <div class="termine">
        <center><a href="/termine"><h2>Termine</h2></a></center>
        <div class="scroll-group">
            <i class='bx bx-chevron-left btn-left'></i>
            <div class="scroll termin-scroll">
                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">09.</p>
                        <p>11. 23</p>
                    </div>
                    <h3>Hochschultag (Q2)</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">14.</p>
                        <p>11. 23</p>
                    </div>
                    <h3>Elternsprechtag Jahrgangsstufen 5 + 6</h3>
                </div>

                <div class="termin scroll-item">
                    <div class="date">
                        <p class="day">15.</p>
                        <p>11. 23</p>
                    </div>
                    <h3>Namibia ENSA Konferenz</h3>
                </div>
            </div>
            <i class='bx bx-chevron-right btn-right' ></i>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.0.0/ical.js"></script>

    <script src="/scripts/termine.js"></script>

    <style>
        .aktuelles-termine .termine {
            background: url({{ home.termineBackground }});
            background-size: cover;
            background-position: center;
        }
    </style>

    <script src="scripts/scroll_click.js"></script>
</section>