---
title: "Kontakt zum Ehemaligen Verein"
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Kontakt zum</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Förderverein</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>des Schillergymnasiums</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}

    
</section>

<section class="contents">
    <div class="content">
        <center><div class="title">
            <h4>Förderverein</h4>
            <h2>Verein der Ehemaligen und Freunde des Schillergymnasiums</h2>
        </div></center>

        <div class="contact">
            <div class="contact-info">
                <div class="adresse">
                    <p><b>Adresse</b></p>
                    <p>Gertrudenstr. 5</p>
                    <p>48147 Münster</p>
                </div>

                <div class="phone">
                    <p><b>Telefon</b></p>
                    <a href="tel:{{ contactEhem.phone }}"><p>{{ contactEhem.phone }}</p></a>
                </div>

                <div class="email">
                    <p><b>E-Mail</b></p>
                    <a href="mailto:{{ contactEhem.email }}"><p>{{ contactEhem.email }}</p></a>
                </div>
            </div>

            <div class="contact-form">
                <form action="https://formsubmit.co/">
                    <div>
                        <input type="hidden" name="_template" value="box">
                        <input type="hidden" name="_cc" value="schillergymnasium@stadt-muenster.de">
                    </div>
                    <div class="vorname-nachname input-holder">
                        <input type="text" name="vorname" id="vorname" placeholder="Vorname" required>
                        <input type="text" name="nachname" id="nachname" placeholder="Nachname" required> 
                    </div>
                    <div class="email-betreff input-holder">
                        <input type="email" name="email" id="email" placeholder="E-Mail Adresse" required>
                        <input type="text" name="_subject" id="betreff" placeholder="Betreff" required>
                    </div>
                    <textarea name="msg" id="msg" placeholder="Nachricht" required></textarea>
                    <center><button type="submit">Abschicken</button></center>
                </form>
            </div>
        </div>
    </div>
</section>