---
title: Kontakt
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>seit 1900</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Kontakt</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>zum Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}

    
</section>

<section class="contents">
    <div class="content">
        <center><div class="title">
            <h4>Kontakt</h4>
            <h2>Noch fragen?</h2>
        </div></center>

        <div class="contact">
            <div class="contact-info">
                <div class="adresse">
                    <p><b>Adresse</b></p>
                    <p>Gertrudenstr. 5</p>
                    <p>48147 Münster</p>
                </div>

                <div class="phone">
                    <p><b>Telefon</b></p>
                    <a href="tel:{{ contact.phone }}"><p>{{ contact.phone }}</p></a>
                </div>

                <div class="fax">
                    <p><b>Telefax</b></p>
                    <a href="fax:{{ contact.fax }}"><p>{{ contact.fax }}</p></a>
                </div>

                <div class="email">
                    <p><b>E-Mail</b></p>
                    <a href="mailto:{{ contact.email }}"><p>{{ contact.email }}</p></a>
                </div>
            </div>

            <div class="contact-form">
                <form action="https://formsubmit.co/">
                    <div>
                        <input type="hidden" name="_subject" value="New submission!">
                        <input type="hidden" name="_template" value="box">
                    </div>
                    <div class="vorname-nachname input-holder">
                        <input type="text" name="vorname" id="vorname" placeholder="Vorname">
                        <input type="text" name="nachname" id="nachname" placeholder="Nachname">
                    </div>
                    <div class="email-betreff input-holder">
                        <input type="email" name="email" id="email" placeholder="E-Mail Adresse">
                        <input type="text" name="betreff" id="betreff" placeholder="Betreff">
                    </div>
                    <textarea name="msg" id="msg" placeholder="Nachricht"></textarea>
                    <center><button type="submit">Abschicken</button></center>
                </form>
            </div>
        </div>
    </div>
</section>