---
title: Schillerglocke
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>Unsere Schülerzeitung</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Schillerglocke</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="{{ schillerglockeSettings.banner }}" alt="">
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="contents">
    <div class="content">
        {{ schillerglockeSettings.body | safe }}

        <div class="posts">
            {% for schillerglocke in collections.schillerglocke %}
                <div class="snippet">
                    <img src="{{ schillerglocke.data.banner }}" alt="" class="snippet__image">
                    <div class="snippet__content">
                        <a href="{{ schillerglocke.url }}"><h2 class="snippet__title">{{ schillerglocke.data.title }}</h2></a>
                        <p class="snippet__info">{{ schillerglocke.data.date | postDate }} &#8226; {{ schillerglocke.data.author }}</p>
                        <p class="snippet__description">{{ schillerglocke.data.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="archive">

        </div>
    </div>
</section>