---
title: Termine
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>seit 1900</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Termine</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}

    
</section>

<section class="termin-page">
    <center><div class="title">
            <h4>Termine</h4>
            <h2>Kalendar</h2>
    </div></center>
    <iframe class="calendar" src="https://outlook.office365.com/owa/calendar/493f1259be1e4289976bfa5ead86ba9b@schiller.ms.de/534d646244eb4a9f91b3cc858a13879d3406896612448446843/calendar.html" frameborder="0"></iframe>
</section>