---
title: Termine
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>seit 1900</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Termine</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>am Schillergymnasium</h2>
            <hr>
        </div>

        <img class="background" src="/img/banners/main.png" alt="">
    </div>

    {% include 'lower-hero.njk' %}

    
</section>

<section>
    
</section>