---
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>XoXo</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Testing</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>mit Maple Ink</h2>
            <hr>
        </div>
        <img class="background" src="/img/banners/main.png" alt="" style="object-position: center;">

        <script src="/scripts/banner.js"></script>
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="contents">

    <style>
        .slide-group {
        overflow: hidden;
        }

        .slide {
        display: none;
        }

        .active {
        display: block;
        }
    </style>

    <div class="content page-content">
        <img src="/img/banners/main.png" alt="" class="gallery" style="width: 400px;">
        <img src="/img/banners/kunst.png" alt="" class="gallery" style="width: 400px;">
        <img src="/img/banners/main.png" alt="" class="gallery" style="width: 400px;">
        <img src="/img/banners/kunst.png" alt="" class="gallery" style="width: 400px;">
        <img src="/img/banners/main.png" alt="" class="gallery" style="width: 400px;">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde deserunt, in nisi excepturi nulla nobis numquam possimus ab. Tenetur maiores omnis exercitationem et unde ipsam facilis, quod a soluta alias, quaerat placeat tempora delectus explicabo velit fugit illo ipsum dolorem laboriosam. Atque, adipisci, dolore totam tempore placeat molestias modi, iste quod incidunt illum perspiciatis voluptates quam repudiandae. Sequi quod et sit natus fugiat sint dolorum pariatur qui? Mollitia optio quos velit eaque dignissimos, esse illo aperiam maiores quae reiciendis repellat voluptatem in, non itaque porro tempora odio numquam, quo nostrum labore est? Fugit reprehenderit atque vel iusto? Sapiente labore quod consectetur aliquam culpa quis quo, vel fugit cupiditate minus ad error molestias odio, qui odit aperiam inventore ut fuga sequi deserunt beatae. Voluptas, laboriosam.</p>
        
        <img src="/img/banners/kunst.png" alt="" class="slide" style="width: 400px;">
        <img src="/img/banners/kunst.png" alt="" class="slide" style="width: 400px;">
        <img src="/img/banners/kunst.png" alt="" class="slide" style="width: 400px;">
        <img src="/img/banners/kunst.png" alt="" class="slide" style="width: 400px;">

        
    </div>
</section>