---
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>XoXo</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Testing</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>mit Maple Ink</h2>
            <hr>
        </div>
        <img class="background" src="/img/banners/main.png" alt="" style="object-position: center;">

        <script src="/scripts/banner.js"></script>
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="contents">
    <div class="content page-content">
        <div class="person">
            <div>
                <img src="/img/uploads/HY.jpg" alt="">
                <div class="description">
                    <p>Frau Heiny</p>
                    <p><b>Englisch Lehrerin</b></p>
                </div>
            </div>
        </div>

        <div class="person">
            <div>
                <img src="/img/uploads/HY.jpg" alt="">
                <div class="description">
                    <p>Frau Heiny</p>
                    <p><b>Englisch Lehrerin</b></p>
                </div>
            </div>
        </div>

        <h2>Mathe</h2>

        <div id="tableContainer"></div>
        <script src="/scripts/table.js"></script>
    </div>

    <table id="eventTable">
        <thead>
            <tr>
                <th>Mo</th>
                <th>Di</th>
                <th>Mi</th>
                <th>Do</th>
                <th>Fr</th>
                <th>Sa</th>
                <th>So</th>
            </tr>
        </thead>
        <tbody>
            <!-- Events will be populated here dynamically -->
        </tbody>
    </table>

    <script src="https://unpkg.com/ical.js"></script>
    <script src="/scripts/calendar.js"></script>
</section>