---
layout: base.njk
---

<section class="hero-section">
    <div class="hero-center">
        <div class="upper-title">
            <img class="decoration-l" src="/img/icons/icon_var2.svg" alt="">
            <h2>XoXo</h2>
            <img class="decoration-r" src="/img/icons/icon_var2.svg" alt="">
        </div>
        <div class="main-title">
            <h1>Testing</h1>
        </div>
        <div class="lower-title">
            <hr>
            <h2>mit Maple Ink</h2>
            <hr>
        </div>
        <img class="background" src="/img/banners/main.png" alt="" style="object-position: center;">

        <script src="/scripts/banner.js"></script>
    </div>

    {% include 'lower-hero.njk' %}
</section>

<section class="contents">
    <div class="content page-content">
        <div class="person">
            <div>
                <img src="/img/uploads/HY.jpg" alt="">
                <div class="description">
                    <p>Frau Heiny</p>
                    <p><b>Englisch Lehrerin</b></p>
                </div>
            </div>
        </div>

        <div class="person">
            <div>
                <img src="/img/uploads/HY.jpg" alt="">
                <div class="description">
                    <p>Frau Heiny</p>
                    <p><b>Englisch Lehrerin</b></p>
                </div>
            </div>
        </div>

        <h2>Mathe</h2>

        <div id="tableContainer"></div>
        <script src="/scripts/table.js"></script>

        <div class="contact">
            <div class="contact-form">
                <h1>Anmeldeformular</h1>
                
                <form action="https://formsubmit.co/">
                    <div>
                        <input type="hidden" name="_subject" value="New submission!">
                        <input type="hidden" name="_template" value="box">
                    </div>
                    <div class="vorname-nachname input-holder">
                        <input type="text" name="vorname" id="vorname" placeholder="Vorname Kind" required>
                        <input type="text" name="nachname" id="nachname" placeholder="Nachname Kind" required>
                    </div>
                    <div class="geschlecht-kind input-holder">
                        <select name="geschlecht" id="geschlecht" required>
                            <option value="auswählen" disabled selected>+++ Bitte Auswählen +++</option>
                            <option value="weiblich">Weiblich</option>
                            <option value="männlich">Männlich</option>
                            <option value="divers">Divers</option>    
                        </select>
                    </div>
                    <div class="grundschule input-holder">
                        <input type="text" name="grundschule" id="grundschule" placeholder="Grundschule" required>
                        <input type="text" name="empfehlung" id="empfehlung" placeholder="Empfehlung" required>
                    </div>
                    <div class="geschwisterkind inputholder">
                        <input type="text" name="geschwisterkind" id="geschwisterkind" placeholder="Geschwisterkind" required>
                    </div>
                    <div class="eltern input-holder">
                        <input type="text" name="betreff" id="betreff" placeholder="Eltern/Erziehungsberechtige" required>
                        <input type="tel" name="telefon" id="telefon" placeholder="Telefonnummer" required>
                    </div>
                    <textarea name="msg" id="msg" placeholder="Bemerkung"></textarea>
                    <center><button type="submit">Abschicken</button></center>
                </form>
            </div>
        </div>

        
    </div>



    <table id="eventTable">
        <thead>
            <tr>
                <th>Mo</th>
                <th>Di</th>
                <th>Mi</th>
                <th>Do</th>
                <th>Fr</th>
                <th>Sa</th>
                <th>So</th>
            </tr>
        </thead>
        <tbody>
            <!-- Events will be populated here dynamically -->
        </tbody>
    </table>

    <script src="https://unpkg.com/ical.js"></script>
    <script src="/scripts/calendar.js"></script>
</section>